name: CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      - name: Install project
        run: npm install

      - name: Run Tests
        run: npm run test

      - name: Docker compose down
        run: cd docker && docker compose down -v
